.loading {
  position: fixed;
  z-index: 2;
  top: 10vh;
  animation: 2.5s infinite rotate linear;
  font-size: 2rem;
  color: seagreen;
  margin-left: 47.5%;
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
